/*****Footer*****/

/*****Media Queries*****/
@media screen and (max-width: 992px) {
    body {
        background-color: #bcd4e6;
    }

    #eksempler .column {
        flex-basis: 1050px;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: #ffd300;
    }
}
