/*****General*****/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
}

/*****DISPLAY*****/

.none {
    display: none;
}

.block {
    display: block;
}

/*****FONT COLORS*****/

.white_text {
    color: white;
}

.black_text {
    color: black;
}

/*****Fonts*****/

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 56px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 24px;
}

p {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*****HEADER*****/

header {
    margin-left: 0 auto;
}

#logo {
    position: absolute;
    display: block;
    z-index: 5;
    margin: -5px 0 0 5px;
}

.logo2 {
    width: 70px;
    object-fit: contain;
    padding: 0;
    cursor: pointer;
    z-index: 5;
    margin: 0 auto;
}

#logo:hover .logo2 {
    opacity: .8;
    cursor: pointer;
}

#icons {
    display: flex;
    align-content: space-between;
    z-index: 3;
}

.langDK,
.langUK {
    width: 32px;
    cursor: pointer;
    margin: 0;
}

#shoppingcart img {
    display: block;
    width: 24px;
    margin: 0 45px 5px 0;
}

/*****BURGER*****/

.burger {
    position: relative;
    justify-content: center;
    right: 0 auto;
    display: block;
    cursor: pointer;
    margin: 5vw 0;
    padding: 0;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: white;
    margin: 5px 5px;
    transition: all 0.5s ease;
}

/*****BURGERLINES*****/

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}
/*****SPLASH*****/

.splashimg, .splashback {
    position: absolute;
    width: 100vw;
    display: none;
}

/*****MAIN*****/

#main {
    width: 80vw;
    margin: 0 auto;
    padding-top: 91vh;
}

#main .col_left {
    width: 10vw;
    display: flex;
    flex-direction: column;
}

#main .col_center {
    width: 70vw;
}
/*****COMPANYNAME*****/

.phonename {
    color: white;
    margin: 0 0 0 10%;
    transform: translateX(100%);
    transition: transform 1.5s ease-in;
    overflow: hidden;
    opacity: 10%;
}

@keyframes phonenameMove {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

 /*****NAVIGATION****/

nav {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .45);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 4%;
    z-index: 1;
}

.nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .45);
    font-size: 50px;
    margin-top: 8vw;
}

.nav-links li {
    list-style: none;
    opacity: 10%;
}

.nav-links a {
    transition: all 0.3s ease 0s;
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2.5px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    padding: 0 6px 6px 6px;
}

.nav-links a:hover {
    border-color: #fff;
    /*    text-shadow: 2px 2px #000000;*/
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
 }



    /*****Media Queries*****/

/*
@media (min-width:1700px) {
    .nav-links {
        width: 25%;
    }
}

@media (min-width:1630px) {
    .nav-links {
        width: 20%;
    }
}


@media (min-width:1500px) {
    .nav-links {
        width: 15%;
    }
}

@media (min-width:1300px) {
    .nav-links {
        width: 10%;
    }
}*/

    @media (min-width:700px) {

        .splashimg, .splashback {
            display: block;
            max-height: 90vh;
            z-index: -1;
        }

         /*****NAVIGATION****/

.nav-links {
    width: 20%;
    margin-top: 40px;
}
    }

#logo {
    position: absolute;
    display: block;
    z-index: 5;
    margin: -5px 0 0 5px;
}

.logo2 {
    width: 170px;
    object-fit: contain;
    padding: 0;
    cursor: pointer;
    z-index: 5;
    margin-left: 40px;
}

#logo:hover .logo2 {
    opacity: .8;
    cursor: pointer;
}

#icons {
    position: absolute;
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    right: 135px;
    z-index: 3;
}

.langDK,
.langUK {
    width: 32px;
    cursor: pointer;
    margin: 0;
}

#shoppingcart img {
    display: flex;
    width: 24px;
    margin: 0 45px 0px 0;
}
