/*****General*****/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
}

/*****DISPLAY*****/

.none {
    display: none;
}

.block {
    display: block;
}

/*****HEADER*****/

header {
    margin: 0 auto;
}

.header_left {
/*
    display: flex;
*/
}

.header_right {
    display: flex;
    flex-direction: row;
}

.header_right ul {
width: 100%;
    margin-left: 40%
}

.logo {
    position: absolute;
    width: 10vw;
    object-fit: contain;
    padding: 15px;
    cursor: pointer;
    z-index: 2;
}

.logo2 {
    position: absolute;
    width: 10vw;
    object-fit: contain;
    padding: 15px;
    cursor: pointer;
    z-index: 2;
}

#logo:hover .logo2{
display: block;
}

#logo:hover .logo{
display: none;
}
/*.logotext {
    width: 50vw;
    height: 10vw;
    object-fit: ;
    padding: 15px;
}*/

.langDK,
.langUK {
    width: 32px;
/*    height: 32px;*/
    cursor: pointer;
    padding: 0;
}

#shoppingcart img {
    width: 32px;
}

/*****NAVIGATION*****/

nav {
    height: 7vh;
    display: flex;
    background-color: rgba(0, 0, 0, .45);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    margin-left: 0 auto;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    transition: all 0.3s ease 0s;
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}

.nav-links a:hover {
     border-color: #fff;
/*    text-shadow: 2px 2px #000000;*/
}

/*****MENU*****/

/*#menu {
    margin-right: 0 auto;
}*/

.drop {
    display: none;
}

.nav-links .kollektion:hover .drop {
    padding: 25px 5px 2px 5px;
    line-height: 1.6em;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, .45);
}

/*****BURGER*****/

.burger {
    display: block;
    cursor: pointer;
    margin-right: 15px;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: ;
    margin: 5px 5px;
    transition: all 0.5s ease;
}

/*****BURGERLINES*****/


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/*****SPLASH*****/

/*
#splash {
        position: relative;
}
*/

#splash img {
    width: 100vw;
}

/*****MAIN*****/

main {
    padding: 60px 0;
}

/*****FONT COLORS*****/

.white_text {
    color: white;
}

.black_text {
    color: black;
}

/*****Fonts*****/

h1 {
    font-family: '', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 56px;
}

h2 {
    font-family: '', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 24px;
}

p {
    font-weight: 300;
    font-family: '', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*****Media Queries*****/
@media screen and (min-width: 992px) {
    body {
        background-color: #bcd4e6;
    }

    #eksempler .column {
        flex-basis: 1050px;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: #ffd300;
    }
}

@media screen and (max-width: 380px) {
    body {
        background-color: #ffd300;
    }
}
